button {
  border: none;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #ccc;
  }
}
