$black: #333;
$white: #fff;

body {
  background-color: $black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 365px;
  margin: auto;
  color: $white;
  font-size: 18px;
}
